.header {
  height: 60px;
}
.movie-gallery {
  background-color: #dddddd;
  min-height: 250px;
  padding: 0px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}

.home-span {
  margin: 10px auto;
  width: 250px;
}

.gallery-wrap {
  margin: 10px auto;
  overflow: hidden;
  width: 732px;
  height: 175px;
  max-width: 100%;
}
.gallery {
  position: relative;
  left: 0; top: 0;
}
.gallery__item {
  float: left;
  list-style: none;
  margin-right: 20px;
  cursor: pointer;
  position:relative;
}
.gallery__img {
  vertical-align:top;
  display: block;
  border: 4px solid #000000;
  height: 175px; width: auto;
  z-index:-2;
}

.gallery__controls {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 732px;
  max-width: 100%;
  position: absolute;
  bottom: 0;
}
.gallery__controls-prev {
  cursor: pointer;
  float: left;
}
.gallery__controls-next {
  cursor: pointer;
  float: right;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix { *zoom: 1;}
