extends layout

block link
  -var selected = 'Register';

block content
  h1 Register
  p Here you can register your own account, so you can comment under your name.
  div.registerbox
    form#registerform(class"form-horizontal", name="login")
      div(class="form-group")
        label(for="inputUser")
          |Username
        input#inputUser(class="form-control", type="text", name="name")
      div(class="form-group")
        label(for="inputPass1")
          |Password
        input#inputPass1(class="form-control", type="password", name="pass")
      div(class="form-group")
        label(for="inputPass2")
          |Re-enter password
        input#inputPass2(class="form-control", type="password", name="pwd2")
      div(class="form-group")
        button(class="btn btn-default", type="submit")
          |Register
        span#registermessage(class="label label-info")
