extends layout

block link
  -var selected = 'Report';

block content
  h1= title
  h3.frtitle Group members
  p
    ul#names
        li Sven den Hartog
        li Appie Kalaç
        li Sergio van Passel
        li Brent van Strien
  h3.frtitle Motivation
    p.frsegment
      br
      | People all over the world watch movies. In everyday life, people easily spend some hours watching series/documentaries/movies. We see that the urge for new movies is growing, but at the same time people don't want to spend their time on searching for movies that aren't even fun to watch.
      br
      br
      | That's where our application Movie-rater comes in. People can rate, comment on every movie they want and they can also check out more information about that movie. The more users, the more functional our application becomes. Eventually, our application can recommend movies based on your ratings. In this way, we create an application that personalizes to the user.
      br
      br
      div(id="picture_report_fullscreen")
      br
    p.frsegment
      |  You can view this page live over
      a(href="http://localhost:3000/movie/120")  here
      br
      br
      | This site creates a new social network where people can share their ideas about movies and about what they like. Of course, the site should stay user friendly at all time, even when users interact. That's why we came up with the idea of liking comments. The most liked comments get a better position in the comment box. The amount of likes measures the amount of usefulness of the comment. In this way, we filter the comment box a little of less-contributing comments and let people read what they want to read.
      br
      br

  h3.frtitle Data
    p.frsegment
      br
      | We use The Movie Database API (
      a(href="http://docs.themoviedb.apiary.io/") http://docs.themoviedb.apiary.io/
      | ) for information we need about movies. We choose it above other movie APIs, because it has a lot of different possible calls. It extracts its data from
      a(href="https://www.themoviedb.org/")  https://www.themoviedb.org/
      | .
      br
      br
      | By using this API, we gain information we use on each movie page and on the homepage. In the movie page, we see a summary, genres, release-date, length, budget used for production and the companies that worked realising this movie. This is information that can appeal to a broad range of users (from action-seekers to Hollywood lovers). This broad range of information also strengthened our choice for the API of themoviedb.org.
      div(id="picture_report_info")
      br
      br
  h3.frtitle Technical architecture
    p.frsegment
      br
      | To illustrate the way our application is build up and in what way it routes through methods and pages, we made a flowchart to clear things up.
      br
      br
      div(id="picture_report_flow")
      br
      br
      ul#flow
        li Oval:      Page, static situation.
        li Rectangle: User action.
        li Diamond:   Decision by program.
        li Rhomboid:  Data.
      br

  h3.frtitle User data
    p.frsegment
      br
      | Our application tracks the comments and ratings that accounts make. It's stored in the mongo database by ID of the user. We don't track what movie pages our users visit, this is however deductible if they rate or comment on the page. We display the comments users make on each movie page, so that they can interact and discuss the movie with others. The ratings are used to calculate the average rating our users give to a movie. They are also used to recommend movies for users to watch next.
      br
      br
  h3.frtitle Reflection
    p.frsegment
      br
      | The lectures introduced a number of technologies we could use to build our own web application. These include html, css, jquery, javascript, python, django, the use of api's, express, node.js and more. After we brainstormed about our idea of movie-rater, we chose some technologies that would fit best in our application. These are the technologies discussed in the technical architecture. So we got the basic knowledge about most of these technologies in the lectures, instructions and exercises.  By using tutorials online on the internet, we deepened our knowledge of the technologies.
      br
      br
      | Making an application like this is fun, but it takes in a lot of time. Effort in the form of trial-and-error and learning further was needed to come to this result. There are surely things to be added in the coming weeks. These would be the ability to like comments, and sort comments in the comment box by the amount of likes. Furthermore the design could be upgraded, some design choices are a little harsh on the eye and could be made more mature. Also, we could upgrade the browse engine to match the user's preferences and maybe we could make a forum where people discuss topics about movies apart from one movie specifically. In short, a lot of ideas and little time.
      br
      br
  h3.frtitle Effort
    p.frsegment
      br
      ul#flow
        li Sven den Hartog - 25%
        li Appie Kalaç - 25%
        li Sergio van Passel - 25%
        li Brent van Strien - 25%
