extends layout

block link
  -var selected = 'browse';

block content
  h2(class="home-span")
    span(class="label label-success") &#9660; Browse Movies &#9660;
    br
    br
    div(class="form-group form-group-sm imagesearchbar")
      input(type="text", name="imagesearch", id="imagesearch", class="imagesearch form-control", placeholder="Search Movies...")
    div(class="gallery clearfix", id="movie-results")
