extends layout

block content
  h2(class="home-span")
    span(class="label label-success") &#9650; Popular Movies &#9650;
  div(class="popularMovies")
  div(id="home-text")
    p
      | This is a community website for movie fans, where you can discuss movies with each other. <br>
      | Register at our website to start discussing! <br>
      | We will also recommend you movies depending on what you like. <br>
      | To make use of this function, please rate movies you watched. <br>
