doctype html
html
  block link
    -var selected = 'home'; //default

  -var menu = { 'home': '/','browse': '/browse', 'api': '/api', 'report': '/report', 'login': '/login', 'register': '/register' };
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/star-rating.css', media='all', type='text/css')
  body
      div(class="container-fluid header")
        nav(class="navbar navbar-default navbar-fixed-top" role="navigation")
          div(class="container")
            div(class="navbar-header")
              button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
              a(class="navbar-brand", href="/") Movie Rater App
            div(id="navbar", class="collapse navbar-collapse")
              ul(class="nav navbar-nav")
                each val, key in menu
                  if selected === key
                    li(class="active")
                      a(href=val)= key
                  else
                    li
                      a(href=val)= key

      block content
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script(src='/javascripts/script.js')
      script(src='/javascripts/bootstrap.min.js')
      script(src='/javascripts/star-rating.js', type='text/javascript')
