extends layout

block link
  -var selected = 'Login';

block content
  h1 Login page
  p
    | Fill in your username and password to login. If you do not have an account yet, you can register&nbsp;
    a(href="/register") here
    | .
  div.loginbox
    form(name="login", action="/login", method="post")
      p
        input(type="text", name="user")
      p
        input(type="password", name="pass")
      p
        input(type="submit", value="login")
