extends layout

block content
  h1 Register
  p Here you can register your own account, so you can comment under your name.
  div.loginbox
    form(name="login", action="/api/make_account", method="post")
      p
        input(type="text", name="name")
      p
        input(type="password", name="pass")
      p
        input(type="submit", value="register!")