extends layout

block link
  -var selected = 'Report';

block content
  h1= title
  p
    ul#names Names of group members
        li Sven den Hartog
        li Appie Kalaç
        li Sergio van Passel
        li Brent van Strien
  h3.frtitle Motivation
    p.frsegment
      br
      i Describe	briefly	the	motivation	of	your	project.	What	is	the	purpose	of	your	Web App?	Which	use	cases	did	you	implement?
      br
      br
      | We wanted to make a community application where people can discuss movies. They can comment on movies and talk about what they found good or bad about them, discuss an actor's performance and show possible plot holes. For people less engaged in discussing there is also a simple rating system. You can also recommend movies to people you know. Besides that, the application will recommend movies to users based on the movies they rated. Our self-made API will provide information about these ratings.
  h3.frtitle Data
    p.frsegment
      br
      i Which	data	sources	that are	available	on	the	Web	are	you	using? Include	a	URL to	the	API	and/or	datasets	that	you	are	using.
      br
      br
      | We use The Movie Database API (
      a(href="http://docs.themoviedb.apiary.io/") http://docs.themoviedb.apiary.io/
      | ) for information we need about movies. We choose it above other movie APIs, because it has a lot of different possible calls. It extracts its data from
      a(href="https://www.themoviedb.org/")  https://www.themoviedb.org/
      | . Specifically, we use movie posters and names in our browse page. Our home page also makes use of these movie posters.
  h3.frtitle Technical architecture
    p.frsegment
      br
      i What	does	the	technical	architecture	of	your	application	look	like?
      br
      br
  h3.frtitle User data
    p.frsegment
      br
      i Which	user	data	do	you	track	and	how	do	you	use	this	data?
      br
      br
      | Our application tracks the comments and ratings that accounts make. It's stored in the mongo database. We don't track what movie pages our users visit. This is however deductible if they rate or comment on the page. We display the comments users make on each movie page, so that they can interact and discuss the movie with others. The ratings are used to calculate the average rating our users give to a movie. They are also used to recommend movies for users to watch next.
  h3.frtitle Reflection
    p.frsegment
      br
      i How	is	your	work	related	to	the	topics	taught	in	this	course?	What	did	you	learn in	this	course?
      br
      br
      | The lectures introduced a number of technologies we could use to build our own web application. These include html, css, jquery, javascript, python, django, the use of api's, express, node.js and more. From this list we picked the technologies we wanted to use. These are the technologies discussed in the technical architecture. So we got the basic knowledge about most of these technologies in the lectures, instructions and exercises. Then we deepened the knowledge of the technologies we had chosen a...(line truncated)...
  h3.frtitle Effort
    p.frsegment
      br
      i How	much	effort	did	it	take	to	implement	the	project	and	how	did	you	distribute it	in	your	group?	 Indicate	clearly	how	much	of	the	total	effort	was	spent	by	each team	member	– e.g.	name	member	1:	30%,	member	2:	30%,	member	3:	40%.
